<div class="flex justify-center items-center h-[100vh]">
    <form action="/filterJob" method="get">
    
        <div class="bg-white flex flex-col justify-center items-start border-2 border-blue-500 rounded-lg text-black py-6 px-4" >
        <div class="flex justify-center font-extrabold text-lg mb-4 w-full"><span class="px-4 border-b-4 border-b-black rounded-md"> Filter jobs </span></div>
            
        
        <div class="mb-3">
            <label for="jobLocation" class="mr-3">Job location</label>
            <input type="text" name="jobLocation" id="jobLocation" class="border-2 border-black rounded-md" >
        </div>
        
       
        <div class="mb-3 flex items-center">
            <label for="skills" class="mr-3">
                 skills required for the job
            </label>
            <select name="skills" id="skills" class="border-2 border-black rounded-md" aria-placeholder="select skills" multiple>
                <option value="Java">Java</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JS">JS</option>
                <option value="React">React</option>
                <option value="NodeJS">NodeJs</option>
                <option value="MongoDB">MongoDB</option>
                <option value="Express">Express</option>
                <option value="Angular">Angular</option>
                <option value="Git">Git</option>
                <option value="Communication skills">Communication skills</option>
                <option value="Negotiation skills">Negotiation skills</option>
                <option value="Leadership">Leadership</option>
                <option value="Team Management">Team Management</option>
                <option value="Cloud">Cloud</option>
                
            </select>
        </div>
        
        <div class="flex justify-center w-full mt-5">
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md">Filter</button>
        </div>
    </div>
</form>
</div>


